#barraUser{
    font-weight: bold;
    color: #121211 !important;
    font-size: 14px;
    text-shadow: 1px 1px 0px #A7BBDE;
    box-shadow: 1px 1px 1px #CCE1F9;
    padding: 10px 25px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px groove #498EA3;
    background: white;
       
}

#botao {
    font-size: 18px;
    padding: 10px 25px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.comborda{
    border: 1px solid black;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px
}

.spacer {
    font-size: 22px;
    font-weight: bolder;
    padding-top: 25px;
}

.bordalarga{
    margin-top: 5px;
    border: 2px solid black;
}

.rowheader{
    font-weight: bold;
}