body {
    background-color: #ec7000;
}


.bordalarga{
    margin-top: 5px;
    border-bottom: 1px solid #ec7000;
}

.bordatela{
    background-color: white;
    margin-top: 5px;
    border-radius: 1.5rem;
}

.selecao {
    margin-left: 45%;
    margin-bottom: 40px;
}

.grafico{
    padding-left: 0px;
}

#barrauser{
    border-bottom: 1px solid #ec7000;
    margin-bottom: 10px;
}